/* Author: Derek O Reilly, Dundalk Institute of Technology, Ireland. */
/* style class for game's container, canvas and loading message      */

#gameContainer
{
    /* style the gameContainer if the game includes non-canvas elements */
}

body, html {
    margin: 0;
    width:100% ;
    height: 100%;
}

#gameCanvas
{
    /* the canvas styling usually does not change */
    position: absolute;
    top: 0;
    bottom: 0;
    width:100%;
    height:100vh;
}

#loadingMessage
{
    /* the loading message styling usually does not change */
    position:absolute;
    top:100px;
    left:100px;
    z-index:100;
    font-size:50px;
}